{% extends "base.html" %}

{% block navbar %}{% endblock %}

{% block banner %}
<!-- Banner
  ----------->

<style>
	#banner {
	    background-image:url("{{ SITEURL }}/{{ BANNER }}");
      max-width: 100%;
  }
</style>

<div id="banner">
	<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
		<div class="banner-title">
			<h1>{{ SITENAME|lower }}</h1>
			{% if BANNER_SUBTITLE %}
				<p class="intro">{{ BANNER_SUBTITLE }}</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

{{ page.content }}

<!-- Page Links
  --------------->
<section class="page-links">
	<div class="container">
	   <div class="row center-block">
	      {% for p in pages %}
	      <div class="col-md-4 col-lg-3">
	         <h3><a href="{{ SITEURL }}/{{ p.url }}"><i class="fa {{ p.icon }}" aria-hidden="true"></i> {{ p.title|lower }}</a></h3>
	         <p>{{ p.summary }}</p>
	      </div>
	      {% endfor %}
		  <!-- Deprecate blog archive from landing page -->
	      <!-- <div class="col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-0">
	         <h3><a href="{{ SITEURL }}/category/blog.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> blog</a></h3>
	         <p>Collected musings on science, programming, technology, and policy</p>
	      </div> -->
	   </div>
	</div>
</section>

{% endblock %}
