html,
body {
   font-family: "Open Sans", sans-serif;
   padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Source Sans Pro', sans-serif;
}

#banner h1 {
    color: #fff;
    font-family: inherit;
    font-size: 60px;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 0.9;
    margin: 0;
    text-transform: lowercase;
}

img.headshot{
   object-fit: cover;
   border: 5px solid #000000;
   max-width: 80%;
   max-height: auto;
}

.social-media {
   text-align: center !important;
   font-size: 50px !important;
}

.page-subheading {
   font-family: "Open Sans", sans-serif;
   font-size: 22px;
}

.page-block-separator {
   margin-top: 20px;
   margin-bottom: 0;
}

.page-block-fig {
   margin-top: 40px;
}

.page-block-summary > h3 {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.vertical-align {
   display: flex;
   align-items: center;
}

.post-meta a {
   text-decoration: none;
}

.post-meta .published time {
   font-weight:  bold;
}

.footer-spacer {
   height: 50px;
   padding-bottom: 60px;
}

.footer {
   font-size: small;
   background: white;
   border-top-color: black;
   border-top-style: solid;
   border-top-width: 1px;
   bottom: 0;
   height: 50px;
   margin-bottom: 0;
   margin-top: 5px;
   padding: 0.5% 1% 1.5% 1%;
   position: fixed;
   vertical-align: middle;
   width: 100%;
}

.footer a {
   text-decoration: none;
   border-bottom: 1px dotted;
}

.footer p {
   margin-bottom: 0;
}

.footer ul {
   margin-bottom: 0;
}

.footer-left {
   text-align: left;
}

.footer-left ul {
   display: inline-block;
}

.footer-center {
   text-align: center;
}

.footer-right {
   text-align: right;
}

.social-media-iconlist li a:hover {
   color: blue;
}
