body {
   font-family: "Open Sans", sans-serif;
}

.post-meta a {
   text-decoration: none;
}

.post-meta .published time {
   font-weight:  bold;
}

.footer {
   font-size: small;
}

.footer a {
   text-decoration: none;
   border-bottom: 1px dotted;
}
