html,
body {
   font-family: "Open Sans", sans-serif;
   padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Source Sans Pro', sans-serif;
}

.banner-title {
   padding: 20px;
   height: 100%;
   margin: none;
   display: table-cell;
   vertical-align: middle;
   font-weight: bold;
   text-transform: lowercase;;
}

h1 #title {
}

img.headshot{
  object-fit: cover;
  border: 5px solid #000000;
  max-width: 100%;
  max-height: auto;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.post-meta a {
   text-decoration: none;
}

.post-meta .published time {
   font-weight:  bold;
}

.footer-spacer {
   height: 40px;
   padding-bottom: 40px;
}

.footer {
   font-size: small;
   background: white;
   border-top-color: black;
   border-top-style: solid;
   border-top-width: 1px;
   bottom: 0;
   height: 40px;
   margin-bottom: 0;
   margin-top: 5px;
   padding: 0.5% 1% 1.5% 1%;
   position: fixed;
   text-align: center;
   vertical-align: middle;
   width: 100%;
}

.footer a {
   text-decoration: none;
   border-bottom: 1px dotted;
}
